* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.root-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(227, 224, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
