* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari / iOS */
  -ms-user-select: none; /* old Edge */
}

.header-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-first-child {
}
