.header-container {
  margin-top: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.6);
}

.header-first-child {
  width: 94vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-first-child a :not(a img) {
  text-decoration: none;
  font-size: 2.3rem;
  color: black;
  width: fit-content;
  height: fit-content;
}
.header-first-child a img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border: 2.5px solid rgba(128, 128, 128, 0.9);
}

.header-first-child .iconActivated {
  color: blue;
}
